.mb-button {
	@apply cursor-pointer;
	@apply border-0;
	@apply rounded-full;

  }
  .mb-button--primary {
	color: blue;
	background-color: transparent;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;


  }
  .mb-button--secondary {
	color: #333;
	background-color: transparent;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }
  .mb-button--small {
	font-size: 12px;
	padding: 10px 16px;
  }
  .mb-button--medium {
	font-size: 14px;
	padding: 11px 20px;
  }
  .mb-button--large {
	font-size: 16px;
	padding: 12px 24px;
  }
  